
# Archivos de sistema y entorno
venv/
__pycache__/
*.pyc

# Archivos de configuración secretos (NUNCA SUBIR ESTO)
.env

# Base de datos local (En producción tendrás otra)
db.sqlite3

# Archivos estáticos recolectados
staticfiles/
NUL